@import "tailwindcss";

@font-face{

    font-family: Geist;
    src: url("../assets/fonts/Geist-Regular.ttf");

}


@font-face{

    font-family: Gilroy;
    src: url("../assets/fonts/Gilroy-Bold.ttf");

}

*{
    /* background-color: #F8EEDF; */
    /* font-family: "Rubik"; */
}

#home{
    background-color: #F2EFE7;
}
