@import "tailwindcss";

@font-face{

    font-family: Geist;
    src: url("../src/assets/fonts/Geist-Regular.ttf");

}


*{
    /* background-color: #F8EEDF; */
    font-family: "Rubik";
}

#home{
    background-color: #F2EFE7;
}

@theme{
    --font-geist: Geist, "sans-serif";
}
